---
title: First v2.0 Blog Post
---

<script>
  import { onMount } from "svelte";

  let seconds = 0;
  onMount(() => {
    setInterval(() => {
      seconds++;
    }, 1000);
  })
</script>

# Heading 1

With a paragraph here. Some `inline code` right there. What about an unordered list?
* One
* Two

Also **bold** and *italic* work quite well.

A [link to the homepage](/).

Lastly, a counter to show for how many seconds you've been on this page: {seconds}